body {
}

.main.content {
    max-width: 960px;
    border-left: 1px solid #ddd;
    margin-right: auto;
    border-right: 1px solid #ddd;
    min-height: 100%;
    margin-left: auto;
    background-color: #fff;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 60px;
    padding-bottom: 7em;
}

a.headerlink {
    visibility: hidden;
}
.masthead.section {
    padding: 0em;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.masthead.section h1 {
    text-align: center;
    font-size: 4em;
    margin: 0px;
    padding-bottom: 0em;
}

.masthead.section > .section {
    text-align: left;
}

pre {
    box-shadow: 0 0 0 1px rgba(39,41,43,.15),0 1px 2px 0 rgba(0,0,0,.05);
    border-radius: .2857rem;
    padding: 1em;
}

.footer .container {
    max-width: 960px;
    margin: 0em auto;
}
