body {
    margin-top: 40px;
}

.main.content {
    max-width: 960px;
    border-left: 1px solid #ddd;
    margin-right: auto;
    border-right: 1px solid #ddd;
    min-height: 100%;
    margin-left: auto;
    background-color: #fff;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 80px;
}

.masthead.segment {
    padding: 0em;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.masthead.segment h1 {
    text-align: center;
    font-size: 3em;
    margin: 0px;
    padding-bottom: 0em;
    
}
